<h1>Authors</h1>

<p>&nbsp;&nbsp;&nbsp;<strong>Károly Kiripolszky</strong><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;primary author and maintainer</p>
<p>&nbsp;&nbsp;&nbsp;<strong>Matthias Völlinger</strong><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;flashcard mode and Leitner system implementation</p>

<h1>Acknowledgments</h1>

<p>&nbsp;&nbsp;&nbsp;<strong>Vocab Drill</strong> makes use of the KVTML data format developed by the <strong>KDE Education Project</strong>.</p>
<p>&nbsp;&nbsp;&nbsp;This application also contains an ActionBar implementation called <strong>ActionBarSherlock</strong> by <strong>Jake Wharton</strong>.</p>
<p>&nbsp;&nbsp;&nbsp;The font in the logo is a free font named <strong>Static</strong> designed by <strong>Slava Kirilenko</strong>.

<h1>Links</h1>

<p>&nbsp;&nbsp;&nbsp;<a href="http://ekezet.com/vocabdrill">Vocab Drill page</a></p>
<p>&nbsp;&nbsp;&nbsp;<a href="http://edu.kde.org">KDE Education Project</a></p>
